###################
# Compiled source #
###################
*.o
*.a
*.so
*.gch
*.class

######################
# swap files #
######################
*.swp
*.lock-*

######################
# OS files #
######################
*.directory

######################
# WAF related #
######################
*.waf-*
*~
build/

######################
# Logs #
######################
*.log

